{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="ridesContainer">
        

        {{ form_start(registrationForm) }}
        <h1>S'inscrire 📝</h1>
        <div class="form-group">
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email, {
                'attr': {
                    'class': 'form-control',
                }
            }) }}
            {{ form_errors(registrationForm.email) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
            {{ form_widget(registrationForm.plainPassword, {
                'attr': {
                    'class': 'form-control',
                }
            }) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.first_name, 'Prénom') }}
            {{ form_widget(registrationForm.first_name, {
                'attr': {
                    'class': 'form-control',
                }
            }) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.last_name, 'Nom de famille') }}
            {{ form_widget(registrationForm.last_name, {
                'attr': {
                    'class': 'form-control',
                }
            }) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.phone, 'Numéro de téléphone') }}
            {{ form_widget(registrationForm.phone, {
                'attr': {
                    'class': 'form-control',
                }
            }) }}
        </div>
        <button type="submit" class="btn">Valider l'inscription</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}