{% extends 'base.html.twig' %}

{% block homeTitle %}
    {{ homeTitle }}
{% endblock %}

{% block body %}
    <div class="ridesContainer">

        <div class="editProfileForm">
            {{ form_start(carForm) }}
            {{ form_widget(carForm) }}
            <button type="submit">Mettre à jour</button>
            {{ form_end(carForm) }}
                    <table>
            <tr>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Places</th>
                <th></th>
                <th></th>
            </tr>
            {% for car in cars %}
                <tr>
                    <td>{{ car.brand }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.seats }}</td>
                    <td><a class="boutonRedirect" href="{{ path('app_profil_edit_car', {'id': car.id}) }}">Modifier</a></td>
                    <td><a class="boutonRedirect" href="{{ path('app_profil_delete_car', {'id': car.id}) }}">Supprimer</a></td>
                </tr>
            {% endfor %}
        </table>
             <a class="boutonRedirect" href="{{ path('app_profil') }}#monVéhicule">Retour au profil</a>
        </div>
            
    </div>
    
{% endblock %}
