{% extends 'base.html.twig' %}

{% block homeTitle %}{{ homeTitle }}{% endblock %}

{% block body %}

<div class="ridesContainer">
    {% for ride in rides %}
    <div class="card">
        <div class="trajetLogoContainer">
           <span class="trajetLogo"></span>
        </div>
        <div class="carLogoContainer">
           <span class="carLogo"></span>
        </div>
        <div class="halfCard1">
        <div class="trajetContainer">
           <span class="blockCity"> <h3>{{ ride.departure }}</h3></span>
            <span class="blockCity"> <h3>{{ ride.destination }}</h3></span>
            </div>
            <div class="dateDepart">
            <p>Départ le {{ ride.date|date('d/m/Y \\à H\\hi', 'Europe/Paris') }}</p></div>
        </div>
        <div class="halfCard2">
            <p>{{ ride.seats }} places disponibles</p>
            <p>{{ ride.price }} €</p>
            <p>{{ ride.driver.getFirstName() }} {{ ride.driver.getLastName() }}</p>
            <p>
                {% for rule in ride.rules %}
                    <span>{{ (rule.name) }} : {{ (rule.description) }}</span>
                    {% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p>Crée le {{ ride.created|date('d/m/Y H:i') }}</p>
            <a href="{{ path('app_homepage', { 'id': ride.id }) }}">Réserver une place</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

