<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
<header class="navbar navbarFixed">
    <a href="{{ path("app_homepage") }}" class="iconButton">
        <span class="icon"></span>
    </a>
    <div class="search-bar">
    <input type="text" class="search-input" placeholder="Rechercher...">
    <button class="searchButton"><span class="iconLoupe"></span></button>
</div>
<section class="logButton">
    {% if app.user %}
    <a href="{{path('app_profile')}}" class="userProfile">MON PROFILE</span></a>
        <a href="{{path('app_logout')}}" class="unregisteredUser"><span class="iconLogout"></span></a>
        
    {% else %}
        <a href="{{path('app_login')}}" class="unregisteredUser"><span class="iconUnregisteredUser"></span></a>
        <a href="{{path('app_register')}}" class="unregisteredUser"><span class="iconRegister"></span></a>
    {% endif %}
</section>
</header>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
