{% extends 'base.html.twig' %}

{% block body %}
	<h1>Créer une règle</h1>

	<div class="ridesContainer">
		<div class="editProfileForm">
			{{ form_start(ruleForm) }}
			{{ form_widget(ruleForm) }}
			<button type="submit">Créer une règle</button>
			{{ form_end(ruleForm) }}
		</div>
		{{ form_errors(ruleForm) }}
		<h2>Liste des règles</h2>
		<table>
			<tr>
				<th>Titre</th>
				<th>Description</th>
				<th>Auteur</th>
			</tr>
			{% for rule in rules %}
				{% if rule.author == app.user %}
					<tr>
						<td>{{ rule.name }}</td>
						<td>{{ rule.description }}</td>
						<td>{{ rule.author.firstName }} {{ rule.author.lastName }}</td>
						<td>
							<a href="{{ path('app_profil_rules_edit', {'id': rule.id}) }}">Edit</a>
							<a href="{{ path('app_profil_rules_delete', {'id': rule.id}) }}">Delete</a>
						</td>
					</tr>
				{% endif %}
			{% endfor %}
		</table>
		<a class="boutonRedirect" href="{{ path('app_profil') }}">Retour au profil</a>
	</div>
{% endblock %}
